<!DOCTYPE html>
<html lang="en">
<head>
	<title>Man Cave Surfboards</title>
		<!-- og Metas -->
	<meta property="og:title" content="Surfboards for hunting waves" />
	<meta property="og:site_name" content="Man Cave Surfboards"/>
	<meta property="og:url" content="http://mancavesurfboards.com/" />
	<meta property="og:image" content="http://www.mancavesurfboards.com/static/img/banner_facebook.jpg" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="The best surfboards in the market!" />

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
	<meta name="author" value="http://mintitmedia.com">
	<meta name="description" value="Mancave Surfboards">
	<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.png')}}">
	<!-- Add Bootstrap -->	
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
	
	<!-- Add fancyBox -->
	<link rel="stylesheet" href="{{url_for('static', filename='vendor/fancybox/css/jquery.fancybox.css')}}" type="text/css" media="screen" />
	
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/screen.css')}}">
	
</head>
<body class="cbp-spmenu-push small_menu">
	<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
		<ul class="nav navbar-nav sections" > 
			<li class="home">
				<a href="#home" title="home" class="home" rel="main_content">Home</a>
			</li>			             
			<li class="surfboards">
				<a href="#surfboards" title="Surfboards" class="surfboards" rel="main_content">Surfboards</a>
			</li><li class="team">
				<a href="#team" title="Team" class="team" rel="team">Team</a>
			</li><li class="dealers">
				<a href="#dealers" title="Dealers" class="dealers" rel="dealers">Dealers</a>
			</li><li class="contact">
				<a href="#contact" title="Contact" class="contact" rel="contact">Contact</a>
			</li>
		</ul>
		<div class="social social_mobile">
			<ul>
				<li class="facebook"><a href="https://www.facebook.com/mancavesurf" title="Facebook" target="_blank">Facebook</a>
				</li><li class="twitter">
					<a href="https://twitter.com/ManCaveSurf" title="Twitter" target="_blank">Twitter</a>
				</li><li class="instagram">
					<a href="http://instagram.com/mancavesurfboards" title="Instagram" target="_blank">Instagram</a>
				</li>
			</ul>
		</div>
	</nav>
	<header id="header" class="navbar navbar-fixed-top" role="navigation">
			<a class="brand logo" href="/" title="Mancave Surfboards" rel="main_content"></a>
			<button id="showLeftPush" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			</button>		
			<div class="big_menu">
				<div id="main_menu_container">
				<ul id="main_menu" class="nav navbar-nav" >              
					<li class="surfboards">
						<a href="#surfboards" title="Surfboards" class="surfboards" rel="main_content">Surfboards</a>
						<div class="strikeout">
							<img src="static/img/strikeout_surfboards.png" />
						</div>
					</li><li class="team">
						<a href="#team" title="Team" class="team" rel="team">Team</a>
						<div class="strikeout">
							<img src="static/img/strikeout_team.png" />
						</div>
					</li><li class="dealers">
						<a href="#dealers" title="Dealers" class="dealers" rel="dealers">Dealers</a>
						<div class="strikeout">
							<img src="static/img/strikeout_dealers.png" />
						</div>
					</li><li class="contact">
						<a href="#contact" title="Contact" class="contact" rel="contact">Contact</a>
						<div class="strikeout">
							<img src="static/img/strikeout_contact.png" />
						</div>
					</li>
				</ul>
				</div>
				<div class="social">
					<ul>
						<li class="facebook"><a href="https://www.facebook.com/mancavesurf" title="Facebook" target="_blank">Facebook</a>
						</li><li class="twitter">
							<a href="https://twitter.com/ManCaveSurf" title="Twitter" target="_blank">Twitter</a>
						</li><li class="instagram">
							<a href="http://instagram.com/mancavesurfboards" title="Instagram" target="_blank">Instagram</a>
						</li>
					</ul>
				</div>
			</div>
	</header>
	<div id="main_banner">
		<h1>Surfboards for hunting waves</h1>
	</div>
	<div id="main_content">
		
		<div id="main_banner_bottom" class="bottomer special_border"></div>
		<div id="surfboards" class="row">
			<h1>Surfboards</h1>
			<div class="col-xs-12 col-sx-offset-0 col-sm-10 col-sm-offset-1">
				<div class="mobile_nav hidden">
					<a href="#" class="pull-left surfboard_closer">Home</a>
					
					<a href="#" class="prev">Prev</a>
				
					<a href="#" class="pull-right next">Next</a>
				</div>
				<div class="masonry">
					<div class="item the_caveman first">
						<div class="closer"><span class="glyphicon glyphicon-remove"></span>
						</div>
						<div class="carousel_container">
							<div id="carousel-the_caveman" class="carousel slide" data-ride="carousel" data-interval="false">
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner">
							    <div class="item active front">
							    </div>
							    <div class="item back">
							    </div>
							  </div>

							  <!-- Controls -->
							  <a class="left carousel-control" href="#carousel-the_caveman" data-slide="prev">
							    &lsaquo;
							  </a>
							  <a class="right carousel-control" href="#carousel-the_caveman" data-slide="next">
							    &rsaquo;
							  </a>
							</div>

							  <div class="table_container table_mobile">

						      </div>
						</div>
						<div class="wrap">
							<span class="big_logo"></span>
							<div class="row">
								<div class="col-xs-7">
									<span class="logo"></span>
									<h3><span>The Caveman - <em>Shortboard</em></span></h3>
									<p>
										This is our high performance board for the new generation with a slightly wider nose and tail than your typical performance board. Versatile enough to be your everyday board for all types of waves, <strong>The Cave Man</strong> is one of our best-selling boards.
									</p>
								</div>
								<div class="img col-xs-5">
									<h3><span>Wave height - <em>Chest High</em></span></h3>
									<div class="specs wh">
									</div>

									<h3><span>Skill level - <em>Intermediate/Pro</em></span></h3>
									<div class="specs sl">
									</div>

									<table class="main_table">
										<tr class="first">
											<th>L</th>
											<th>M</th>
											<th>THK</th>
											<th>Lit<span class="hidden-xs">res</span></th>
										</tr>
										<tr class="pair second">
											<td>5'8"</td>
											<td>18 <sup class="small">1/2"</sup></td>
											<td>2 <sup class="small">3/16"</sup></td>
											<td>24.7</td>
										</tr>
										<tr>
											<td>5'10"</td>
											<td>18 <sup class="small">3/4"</sup></td>
											<td>2 <sup class="small">1/4"</sup></td>
											<td>25.43</td>
										</tr>
										<tr class="pair">
											<td>5'11"</td>
											<td>18 <sup class="small">7/8"</sup></td>
											<td>2 <sup class="small">5/16"</sup></td>
											<td>27.8</td>
										</tr>
										<tr>
											<td>6'0"</td>
											<td>19</td>
											<td>2 <sup class="small">3/8"</sup></td>
											<td>29.1</td>
										</tr>
										<tr class="pair">
											<td>6'2"</td>
											<td>19 <sup class="small">1/4"</sup></td>
											<td>2 <sup class="small">1/2"</sup></td>
											<td>31.67</td>
										</tr>
										<tr>
											<td>6'4"</td>
											<td>19 <sup class="small">1/21"</sup></td>
											<td>2 <sup class="small">5/8"</sup></td>
											<td>23.3</td>
										</tr>
									</table>
								</div>
							</div>
							
						</div>
					</div>
					<div class="item snot_rocket">
						<div class="closer"><span class="glyphicon glyphicon-remove"></span>
						</div>
						<div class="carousel_container">
							<div id="carousel-snot_rocket" class="carousel slide" data-ride="carousel" data-interval="false">
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner">
							    <div class="item active front">
							    </div>
							    <div class="item back">
							    </div>
							  </div>

							  <!-- Controls -->
							  <a class="left carousel-control" href="#carousel-snot_rocket" data-slide="prev">
							    &lsaquo;
							  </a>
							  <a class="right carousel-control" href="#carousel-snot_rocket" data-slide="next">
							    &rsaquo;
							  </a>
							</div>

							  <div class="table_container table_mobile">
								
						      </div>
						</div>
						<div class="wrap">
							<span class="big_logo"></span>
							<div class="row">
								<div class="col-xs-7">
									<span class="logo"></span>
									<h3><span>Snot Rocket - <em>Shortboard</em></span></h3>
									<p><strong>Snot Rocket</strong> is based on the out of step model but is 4” shorter for stronger and hollower waves.</p>
								</div>
								<div class="img col-xs-5">
									<h3><span>Wave height - <em>Head high</em></span></h3>
									<div class="specs wh">
									</div>

									<h3><span>Skill level - <em>Intermediate/Pro</em></span></h3>
									<div class="specs sl">
									</div>

									<table class="main_table">
										<tr class="first">
											<th>L</th>
											<th>M</th>
											<th>THK</th>
											<th>Lit<span class="hidden-xs">res</span></th>
										</tr>
										<tr class="pair second">
											<td>5'5"</td>
											<td>18 <sup class="small">3/8"</sup></td>
											<td>2 <sup class="small">3/16"</sup></td>
											<td>23.3</td>
										</tr>
										<tr>
											<td>5'7"</td>
											<td>18 <sup class="small">3/4"</sup></td>
											<td>2 <sup class="small">1/4"</sup></td>
											<td>25.1</td>
										</tr>
										<tr class="pair">
											<td>5'9"</td>
											<td>19 <sup class="small">1/4"</sup></td>
											<td>2 <sup class="small">5/16"</sup></td>
											<td>27.3</td>
										</tr>
										<tr>
											<td>5'11"</td>
											<td>19 <sup class="small">3/4"</sup></td>
											<td>2 <sup class="small">7/16"</sup></td>
											<td>30</td>
										</tr>
										<tr class="pair">
											<td>6'1"</td>
											<td>20 <sup class="small">1/4"</sup></td>
											<td>2 <sup class="small">5/8"</sup></td>
											<td>33.7</td>
										</tr>
										<tr>
											<td>6'2"</td>
											<td>20<sup class="small">1/2"</sup></td>
											<td>2 <sup class="small">3/4"</sup></td>
											<td>36</td>
										</tr>
										<tr class="pair">
											<td>6'4"</td>
											<td>21</td>
											<td>2 <sup class="small">3/4"</sup></td>
											<td>37.9</td>
										</tr>
									</table>
								</div>
							</div>
							
						</div>
					</div>
					<div class="item the_hunter">
						<div class="closer"><span class="glyphicon glyphicon-remove"></span>
						</div>
						<div class="carousel_container">
							<div id="carousel-the_hunter" class="carousel slide" data-ride="carousel" data-interval="false">
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner">
							    <div class="item active front">
							    </div>
							    <div class="item back">
							    </div>
							  </div>

							  <!-- Controls -->
							  <a class="left carousel-control" href="#carousel-the_hunter" data-slide="prev">
							    &lsaquo;
							  </a>
							  <a class="right carousel-control" href="#carousel-the_hunter" data-slide="next">
							    &rsaquo;
							  </a>
							</div>

							  <div class="table_container table_mobile">
							
						      </div>
						</div>
						<div class="wrap">
							<span class="big_logo"></span>
							<div class="row">
								<div class="col-xs-7">
									<span class="logo"></span>
									<h3><span>The Hunter - <em>Shortboard</em></span></h3>
									<p>
										A user fiendly board. Flies threw slow sections and still can go vertical when needed. Coul be a good <strong>‘Big Boy’</strong> performance board.
									</p>
								</div>
								<div class="img col-xs-5">
									<h3><span>Wave height - <em>Chest High</em></span></h3>
									<div class="specs wh">
									</div>

									<h3><span>Skill level - <em>Beg/Int/Pro</em></span></h3>
									<div class="specs sl">
									</div>

									<table class="main_table">
										<tr class="first">
											<th>L</th>
											<th>M</th>
											<th>THK</th>
											<th>Lit<span class="hidden-xs">res</span></th>
										</tr>
										<tr class="pair second">
											<td>5'4"</td>
											<td>17 <sup class="small">5/8"</sup></td>
											<td>2 <sup class="small">1/8"</sup></td>
											<td>21.7</td>
										</tr>
										<tr>
											<td>5'6"</td>
											<td>18</td>
											<td>2 <sup class="small">3/16"</sup></td>
											<td>23.5</td>
										</tr>
										<tr class="pair">
											<td>5'8"</td>
											<td>18 <sup class="small">3/8"</sup></td>
											<td>2 <sup class="small">1/4"</sup></td>
											<td>25.3</td>
										</tr>
										<tr>
											<td>5'10"</td>
											<td>18 <sup class="small">13/16"</sup></td>
											<td>2 <sup class="small">5/16"</sup></td>
											<td>27.4</td>
										</tr>
										<tr class="pair">
											<td>5'11"</td>
											<td>19 <sup class="small">1/4"</sup></td>
											<td>2 <sup class="small">3/8"</sup></td>
											<td>29.2</td>
										</tr>
										<tr>
											<td>6'0"</td>
											<td>19<sup class="small">3/4"</sup></td>
											<td>2 <sup class="small">7/16"</sup></td>
											<td>31.1</td>
										</tr>
										<tr class="pair">
											<td>6'2"</td>
											<td>20 <sup class="small">1/8"</sup></td>
											<td>2 <sup class="small">1/2"</sup></td>
											<td>33.3</td>
										</tr>
										<tr>
											<td>6'4"</td>
											<td>20<sup class="small">1/2"</sup></td>
											<td>2 <sup class="small">9/16"</sup></td>
											<td>35.7</td>
										</tr>
									</table>
								</div>
							</div>
							
						</div>
					</div>
					<div class="item out_of_step">
						<div class="closer"><span class="glyphicon glyphicon-remove"></span>
						</div>
						<div class="carousel_container">
							<div id="carousel-out_of_step" class="carousel slide" data-ride="carousel" data-interval="false">
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner">
							    <div class="item active front">
							    </div>
							    <div class="item back">
							    </div>
							  </div>

							  <!-- Controls -->
							  <a class="left carousel-control" href="#carousel-out_of_step" data-slide="prev">
							    &lsaquo;
							  </a>
							  <a class="right carousel-control" href="#carousel-out_of_step" data-slide="next">
							    &rsaquo;
							  </a>
							</div>

							  <div class="table_container table_mobile">
							
						      </div>
						</div>
						<div class="wrap">
							<span class="big_logo"></span>
							<div class="row">
								<div class="col-xs-7">
									<span class="logo"></span>
									<h3><span>Out of Step - <em>Shortboard</em></span></h3>
									<p>
										<strong>Out of Step</strong> is short and wide but great for radical maneuvers thanks to its wings and swallow tail that give it a narrower tail. 
									</p>
								</div>
								<div class="img col-xs-5">
									<h3><span>Wave height - <em>Chest High</em></span></h3>
									<div class="specs wh">
									</div>

									<h3><span>Skill level - <em>Beg/Int/Pro</em></span></h3>
									<div class="specs sl">
									</div>

									<table class="main_table">
										<tr class="first">
											<th>L</th>
											<th>M</th>
											<th>THK</th>
											<th>Lit<span class="hidden-xs">res</span></th>
										</tr>
										<tr class="pair second">
											<td>5'4"</td>
											<td>18 <sup class="small">1/2"</sup></td>
											<td>2 <sup class="small">1/8"</sup></td>
											<td>23.1</td>
										</tr>
										<tr>
											<td>5'5"</td>
											<td>18 <sup class="small">3/4"</sup></td>
											<td>2 <sup class="small">3/16"</sup></td>
											<td>24.4</td>
										</tr>
										<tr class="pair">
											<td>5'6"</td>
											<td>19</td>
											<td>2 <sup class="small">1/4"</sup></td>
											<td>25.7</td>
										</tr>
										<tr>
											<td>5'7"</td>
											<td>19 <sup class="small">3/8"</sup></td>
											<td>2 <sup class="small">3/8"</sup></td>
											<td>28.1</td>
										</tr>
										<tr class="pair">
											<td>5'8"</td>
											<td>19 <sup class="small">5/8"</sup></td>
											<td>2 <sup class="small">7/16"</sup></td>
											<td>29.5</td>
										</tr>
										<tr>
											<td>5'9"</td>
											<td>19 <sup class="small">7/8"</sup></td>
											<td>2 <sup class="small">1/2"</sup></td>
											<td>31</td>
										</tr>
										<tr class="pair">
											<td>5'10"</td>
											<td>20 <sup class="small">1/8"</sup></td>
											<td>2 <sup class="small">1/2"</sup></td>
											<td>32.2</td>
										</tr>
										<tr>
											<td>5'11"</td>
											<td>20 <sup class="small">1/2"</sup></td>
											<td>2 <sup class="small">9/16"</sup></td>
											<td>34</td>
										</tr>
										<tr class="pair">
											<td>6'0"</td>
											<td>20 <sup class="small">3/4"</sup></td>
											<td>2 <sup class="small">5/8"</sup></td>
											<td>35.6</td>
										</tr>
										<tr>
											<td>6'2"</td>
											<td>21 <sup class="small">3/8"</sup></td>
											<td>2 <sup class="small">3/4"</sup></td>
											<td>40.3</td>
										</tr>
									</table>
								</div>
							</div>
							
						</div>
					</div>
					<div class="item termite">
						<div class="closer"><span class="glyphicon glyphicon-remove"></span>
						</div>
						<div class="carousel_container">
							<div id="carousel-termite" class="carousel slide" data-ride="carousel" data-interval="false">
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner">
							    <div class="item active front">
							    </div>
							    <!--<div class="item back">
							    </div>-->
							  </div>

							  <!-- Controls 
							  <a class="left carousel-control" href="#carousel-termite" data-slide="prev">
							  	&lsaquo;
							  </a>
							  <a class="right carousel-control" href="#carousel-termite" data-slide="next">
							    &rsaquo;
							  </a>-->
							</div>
							<div class="table_container table_mobile">
						
						    </div>
						</div>
						<div class="wrap">
							<span class="big_logo"></span>
							<div class="row">
								<div class="col-xs-12 col-xs-7">
									<span class="logo"></span>
									<h3><span>Termite - <em>Grom Shortboard</em></span></h3>
									<p>
										Made to take new generations to explosive and radical surf.
									</p>
								</div>
								<div class="col-xs-12 img col-xs-5">
									<!--<div class="mini_social_bar">
										<img src="/static/img/masonry_social_placeholder.jpg" alt="Placeholder">
									</div>-->
									<h3><span>Wave height - <em>Head high</em></span></h3>
									<div class="specs wh">
									</div>

									<h3><span>Skill level - <em>Intermediate/Pro</em></span></h3>
									<div class="specs sl">
									</div>
									<table class="main_table">
										<tr class="first">
											<th>L</th>
											<th>M</th>
											<th>THK</th>
											<th>Lit<span class="hidden-xs">res</span></th>
										</tr>
										<tr class="pair second">
											<td>5'2</td>
											<td>17 <sup class="small">1/4"</sup></td>
											<td>2 <sup class="small">1/8"</sup></td>
											<td>19.6</td>
										</tr>
										<tr>
											<td>5'4"</td>
											<td>17 <sup class="small">3/8"</sup></td>
											<td>2 <sup class="small">3/16"</sup></td>
											<td>20.9</td>
										</tr>
										<tr class="pair">
											<td>5'5"</td>
											<td>17 <sup class="small">1/2"</sup></td>
											<td>2 <sup class="small">3/16"</sup></td>
											<td>21.4</td>
										</tr>
										<tr>
											<td>5'6"</td>
											<td>17<sup class="small">5/8"</sup></td>
											<td>2 <sup class="small">1/4"</sup></td>
											<td>22.4</td>
										</tr>
										<tr class="pair">
											<td>5'8"</td>
											<td>17 <sup class="small">7/8"</sup></td>
											<td>2 <sup class="small">5/16"</sup></td>
											<td>23.9</td>
										</tr>
									</table>
								</div>
							</div>
							
						</div>
					</div>
					<div class="item jelly_bean">
						<div class="closer"><span class="glyphicon glyphicon-remove"></span>
						</div>
						<div class="carousel_container">
							<div id="carousel-jelly_bean" class="carousel slide" data-ride="carousel" data-interval="false">
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner">
							    <div class="item active front">
							    </div>
							    <div class="item back">
							    </div>
							  </div>

							  <!-- Controls -->
							  <a class="left carousel-control" href="#carousel-jelly_bean" data-slide="prev">
							    &lsaquo;
							  </a>
							  <a class="right carousel-control" href="#carousel-jelly_bean" data-slide="next">
							    &rsaquo;
							  </a>
							</div>

							  <div class="table_container table_mobile">
							
						      </div>
						</div>
						<div class="wrap">
							<span class="big_logo"></span>
							<div class="row">
								<div class="col-xs-7">
									<span class="logo"></span>
									<h3><span>Jelly Bean - <em>Small Wave Shortboard</em></span></h3>
									<p>
										Flys like a fish but rides la a performance board. 
									</p>
								</div>
								<div class="img col-xs-5">
									<h3><span>Wave height - <em>Chest high</em></span></h3>
									<div class="specs wh">
									</div>

									<h3><span>Skill level - <em>Beg/Int/pro</em></span></h3>
									<div class="specs sl">
									</div>

									<table class="main_table">
										<tr class="first">
											<th>L</th>
											<th>M</th>
											<th>THK</th>
											<th>Lit<span class="hidden-xs">res</span></th>
										</tr>
										<tr class="pair second">
											<td>5'4"</td>
											<td>19 <sup class="small">1/2"</sup></td>
											<td>2 <sup class="small">1/4"</sup></td>
											<td>26</td>
										</tr>
										<tr>
											<td>5'6"</td>
											<td>19 <sup class="small">3/4"</sup></td>
											<td>2 <sup class="small">3/8"</sup></td>
											<td>28.4</td>
										</tr>
										<tr class="pair">
											<td>5'8"</td>
											<td>20"</td>
											<td>2 <sup class="small">1/2"</sup></td>
											<td>30.9</td>
										</tr>
										<tr>
											<td>5'10"</td>
											<td>20 <sup class="small">1/4"</sup></td>
											<td>2 <sup class="small">5/8"</sup></td>
											<td>33.6</td>
										</tr>
										<tr class="pair">
											<td>6'0"</td>
											<td>20 <sup class="small">1/2"</sup></td>
											<td>2 <sup class="small">3/4"</sup></td>
											<td>36.4</td>
										</tr>
										<tr>
											<td>6'2"</td>
											<td>20 <sup class="small">3/4"</sup></td>
											<td>2 <sup class="small">3/4"</sup></td>
											<td>37.8</td>
										</tr>
									</table>
								</div>
							</div>
							
						</div>
					</div>
					<div class="item traveler">
						<div class="closer"><span class="glyphicon glyphicon-remove"></span>
						</div>
						<div class="carousel_container">
							<div id="carousel-traveler" class="carousel slide" data-ride="carousel" data-interval="false">
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner">
							    <div class="item active front">
							    </div>
							    <div class="item back">
							    </div>
							  </div>

							  <!-- Controls -->
							  <a class="left carousel-control" href="#carousel-traveler" data-slide="prev">
							    &lsaquo;
							  </a>
							  <a class="right carousel-control" href="#carousel-traveler" data-slide="next">
							    &rsaquo;
							  </a>
							</div>

							  <div class="table_container table_mobile">
							
						      </div>
						</div>
						<div class="wrap">
							<span class="big_logo"></span>
							<div class="row">
								<div class="col-xs-7">
									<span class="logo"></span>
									<h3><span>Traveler - <em>Shortboard</em></span></h3>
									<p><strong>The Traveler</strong> is high performance board 8" longer, round pin tail and an agresive rocker. Great for getting into tubular waves without the feeling that you're riding a shortboard. </p>
								</div>
								<div class="img col-xs-5">
									<h3><span>Wave height - <em>Overhead high</em></span></h3>
									<div class="specs wh">
									</div>

									<h3><span>Skill level - <em>Pro</em></span></h3>
									<div class="specs sl">
									</div>

									<table class="main_table">
										<tr class="first">
											<th>L</th>
											<th>M</th>
											<th>THK</th>
											<th>Lit<span class="hidden-xs">res</span></th>
										</tr>
										<tr class="pair second">
											<td>6'0"</td>
											<td>19 <sup class="small">3/16"</sup></td>
											<td>2 <sup class="small">5/16"</sup></td>
											<td>27.9</td>
										</tr>
										<tr>
											<td>6'2"</td>
											<td>19 <sup class="small">5/16"</sup></td>
											<td>2 <sup class="small">3/8"</sup></td>
											<td>29.6</td>
										</tr>
										<tr class="pair">
											<td>6'4"</td>
											<td>19 <sup class="small">7/16"</sup></td>
											<td>2 <sup class="small">1/2"</sup></td>
											<td>31.9</td>
										</tr>
										<tr>
											<td>6'6"</td>
											<td>19 <sup class="small">1/2"</sup></td>
											<td>2 <sup class="small">9/16"</sup></td>
											<td>33.5</td>
										</tr>
									</table>
								</div>
							</div>
							
						</div>
					</div>
					<div class="item semigun">
						<div class="closer"><span class="glyphicon glyphicon-remove"></span>
						</div>
						<div class="carousel_container">
							<div id="carousel-semigun" class="carousel slide" data-ride="carousel" data-interval="false">
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner">
							    <div class="item active front">
							    </div>
							    <div class="item back">
							    </div>
							  </div>

							  <!-- Controls -->
							  <a class="left carousel-control" href="#carousel-semigun" data-slide="prev">
							    &lsaquo;
							  </a>
							  <a class="right carousel-control" href="#carousel-semigun" data-slide="next">
							    &rsaquo;
							  </a>
							</div>

							  <div class="table_container table_mobile">
								
						      </div>
						</div>
						<div class="wrap">
							<span class="big_logo"></span>
							<div class="row">
								<div class="col-xs-7">
									<span class="logo"></span>
									<h3><span>Semigun</span></h3>
									<p>
										Big, strong and hollow waves from beach breaks to reefs will make this board come to life.
									</p>
								</div>
								<div class="img col-xs-5">
									<h3><span>Wave height - <em>Overhead high</em></span></h3>
									<div class="specs wh">
									</div>

									<h3><span>Skill level - <em>Pro</em></span></h3>
									<div class="specs sl">
									</div>

									<table class="main_table">
										<tr class="first">
											<th><a href="#" title="Contact" class="more_info" rel="contact">Contact us for more information</a></th>
										</tr>
									</table>
								</div>
							</div>
							
						</div>
					</div>
					<div class="item pirate_plank">
						<div class="closer"><span class="glyphicon glyphicon-remove"></span>
						</div>
						<div class="carousel_container">
							<div id="carousel-pirate_plank" class="carousel slide" data-ride="carousel" data-interval="false">
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner">
							    <div class="item active front">
							    </div>
							    <div class="item back">
							    </div>
							  </div>

							  <!-- Controls -->
							  <a class="left carousel-control" href="#carousel-pirate_plank" data-slide="prev">
							    &lsaquo;
							  </a>
							  <a class="right carousel-control" href="#carousel-pirate_plank" data-slide="next">
							    &rsaquo;
							  </a>
							</div>

							  <div class="table_container table_mobile">
								
						      </div>
						</div>
						<div class="wrap">
							<span class="big_logo"></span>
							<div class="row">
								<div class="col-xs-7">
									<span class="logo"></span>
									<h3><span>Pirate Plank - <em>Longboard</em></span></h3>
									<p>
										Great for “Walking the plank” because of its wide nose while still being able to go through critical zones and drops thanks to its rocker. It starts with a single concave and ends in “V” so you get good maneuverability and a clear projection of your turns.
									</p>
								</div>
								<div class="img col-xs-5">
									<h3><span>Wave height - <em>Head high</em></span></h3>
									<div class="specs wh">
									</div>

									<h3><span>Skill level - <em>Intermediate/Pro</em></span></h3>
									<div class="specs sl">
									</div>

									<table class="main_table">
										<tr class="first">
											<th>L</th>
											<th>M</th>
											<th>THK</th>
											<th>Lit<span class="hidden-xs">res</span></th>
										</tr>
										<tr class="pair second">
											<td>8'6"</td>
											<td>21 <sup class="small">7/8"</sup></td>
											<td>2 <sup class="small">5/8"</sup></td>
											<td>55.5</td>
										</tr>
										<tr>
											<td>8'10"</td>
											<td>22 <sup class="small">1/8"</sup></td>
											<td>2 <sup class="small">11/16"</sup></td>
											<td>59.5</td>
										</tr>
										<tr class="pair">
											<td>9'0"</td>
											<td>22 <sup class="small">1/4"</sup></td>
											<td>2 <sup class="small">3/4"</sup></td>
											<td>62.3</td>
										</tr>
										<tr>
											<td>9'2"</td>
											<td>22 <sup class="small">3/8"</sup></td>
											<td>2 <sup class="small">13/16"</sup></td>
											<td>65.2</td>
										</tr>
										<tr class="pair">
											<td>9'4"</td>
											<td>22 <sup class="small">1/2"</sup></td>
											<td>2 <sup class="small">7/8"</sup></td>
											<td>68.1</td>
										</tr>
										<tr>
											<td>9'6"</td>
											<td>22 <sup class="small">5/8"</sup></td>
											<td>3"</td>
											<td>72.6</td>
										</tr>
										<tr class="pair">
											<td>9'8"</td>
											<td>22 <sup class="small">3/4"</sup></td>
											<td>3"</td>
											<td>74.6</td>
										</tr>
										<tr>
											<td>9'10"</td>
											<td>22 <sup class="small">7/8"</sup></td>
											<td>3 <sup class="small">1/16"</sup></td>
											<td>37.5</td>
										</tr>
										<tr class="pair">
											<td>10"</td>
											<td>23</td>
											<td>3 <sup class="small">1/8"</sup></td>
											<td>80.7</td>
										</tr>
									</table>
								</div>
							</div>
							
						</div>
					</div>
					<div class="item mahi">
						<div class="closer"><span class="glyphicon glyphicon-remove"></span>
						</div>
						<div class="carousel_container">
							<div id="carousel-mahimahi" class="carousel slide" data-ride="carousel" data-interval="false" >
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner">
							    <div class="item active front">
							    </div>
							    <div class="item back">
							    </div>
							  </div>

							  <!-- Controls -->
							  <a class="left carousel-control" href="#carousel-mahimahi" data-slide="prev">
							    &lsaquo;
							  </a>
							  <a class="right carousel-control" href="#carousel-mahimahi" data-slide="next">
							    &rsaquo;
							  </a>
							</div>
						
							  <div class="table_container table_mobile">
								
						      </div>
						</div>
						<div class="wrap">
							<span class="big_logo"></span>
							<div class="row">
								<div class="col-xs-7">
									<span class="logo"></span>
									<h3><span>Traveler - <em>Funboard</em></span></h3>
									<p>
										This is a great board to transition to from soft tops to something shorter so you can drop on time and get on the face of the wave without losing the option to make some of those old highline carves thanks to its “V” bottom near the fins.
									</p>
								</div>
								<div class="img col-xs-5">
									<h3><span>Wave height - <em>Chest high</em></span></h3>
									<div class="specs wh">
									</div>

									<h3><span>Skill level - <em>Beg/Int/pro</em></span></h3>
									<div class="specs sl">
									</div>

									<table class="main_table">
										<tr class="first">
											<th>L</th>
											<th>M</th>
											<th>THK</th>
											<th>Lit<span class="hidden-xs">res</span></th>
										</tr>
										<tr class="pair second">
											<td>7'0"</td>
											<td>22 <sup class="small">1/8"</sup></td>
											<td>2 <sup class="small">9/16"</sup></td>
											<td>46.3</td>
										</tr>
										<tr>
											<td>7'4"</td>
											<td>22 <sup class="small">3/8"</sup></td>
											<td>2 <sup class="small">11/16"</sup></td>
											<td>51.6</td>
										</tr>
										<tr class="pair">
											<td>7'8"</td>
											<td>22 <sup class="small">5/8"</sup></td>
											<td>2 <sup class="small">13/16"</sup></td>
											<td>56.9</td>
										</tr>
										<tr>
											<td>8'0"</td>
											<td>22 <sup class="small">7/8"</sup></td>
											<td>2 <sup class="small">15/16"</sup></td>
											<td>62.7</td>
										</tr>
									</table>
								</div>
							</div>

						</div>
					</div>
					<div class="item chaneque">
						<div class="closer"><span class="glyphicon glyphicon-remove"></span>
						</div>
						<div class="carousel_container">
							<div id="carousel-chaneque" class="carousel slide" data-ride="carousel" data-interval="false">
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner">
							    <div class="item active front">
							    </div>
							    <div class="item back">
							    </div>
							  </div>

							  <!-- Controls -->
							  <a class="left carousel-control" href="#carousel-chaneque" data-slide="prev">
							    &lsaquo;
							  </a>
							  <a class="right carousel-control" href="#carousel-chaneque" data-slide="next">
							    &rsaquo;
							  </a>
							</div>

							  <div class="table_container table_mobile">
								
						      </div>
						</div>
						<div class="wrap">
							<span class="big_logo"></span>
							<div class="row">
								<div class="col-xs-7">
									<span class="logo"></span>
									<h3><span>Chaneque - <em>Retro Fish</em></span></h3>
									<p>
										This ir our version of the traditional retro fish.
									</p>
								</div>
								<div class="img col-xs-5">
									<h3><span>Wave height - <em>Chest high</em></span></h3>
									<div class="specs wh">
									</div>

									<h3><span>Skill level - <em>Beg/Int/pro</em></span></h3>
									<div class="specs sl">
									</div>

									<table class="main_table">
										<tr class="first">
											<th>L</th>
											<th>M</th>
											<th>THK</th>
											<th>Lit<span class="hidden-xs">res</span></th>
										</tr>
										<tr class="pair second">
											<td>5'5"</td>
											<td>19 <sup class="small">7/8"</sup></td>
											<td>2 <sup class="small">5/16"</sup></td>
											<td>28.5</td>
										</tr>
										<tr>
											<td>5'7"</td>
											<td>20</td>
											<td>2 <sup class="small">3/8"</sup></td>
											<td>30.5</td>
										</tr>
										<tr class="pair">
											<td>5'9"</td>
											<td>20 <sup class="small">5/8"</sup></td>
											<td>2 <sup class="small">7/16"</sup></td>
											<td>33.1</td>
										</tr>
										<tr>
											<td>5'11"</td>
											<td>21 <sup class="small">1/4"</sup></td>
											<td>2 <sup class="small">1/2"</sup></td>
											<td>36</td>
										</tr>
										<tr class="pair">
											<td>6'2"</td>
											<td>22</td>
											<td>2 <sup class="small">3/4"</sup></td>
											<td>42.7</td>
										</tr>
										<tr>
											<td>6'4"</td>
											<td>22 <sup class="small">5/8"</sup></td>
											<td>2 <sup class="small">3/4"</sup></td>
											<td>45.1</td>
										</tr>
									</table>
								</div>
							</div>
							
						</div>
					</div>
					<div class="item simmons last">
						<div class="closer"><span class="glyphicon glyphicon-remove"></span>
						</div>
						<div class="carousel_container">
							<div id="carousel-simmons" class="carousel slide" data-ride="carousel" data-interval="false">
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner">
							    <div class="item active front">
							    </div>
							    <div class="item back">
							    </div>
							  </div>

							  <!-- Controls -->
							  <a class="left carousel-control" href="#carousel-simmons" data-slide="prev">
							    &lsaquo;
							  </a>
							  <a class="right carousel-control" href="#carousel-simmons" data-slide="next">
							    &rsaquo;
							  </a>
							</div>
							
						
							  <div class="table_container table_mobile">
								
						      </div>
						</div>
						<div class="wrap">
							<span class="big_logo"></span>
							<div class="row">
								<div class="col-xs-7">
									<span class="logo"></span>
									<h3><span>Mini Simmons</span></h3>
									<p>
										For those who like slow and sloppy waves.
									</p>
								</div>
								<div class="img col-xs-5">
									<h3><span>Wave height - <em>Chest high</em></span></h3>
									<div class="specs wh">
									</div>

									<h3><span>Skill level - <em>Beg/Int/pro</em></span></h3>
									<div class="specs sl">
									</div>

									<table class="main_table">
										<tr class="first">
											<th><a href="#" title="Contact" rel="contact" class="more_info">Contact us for more information</a></th>
										</tr>
									</table>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="sb sb_team_top"></div>
		<div class="team_border_top special_border topper"></div>
		<div id="team" class="row">
			<h1>Team</h1>
			<div class="img col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-1">
				<img src='{{url_for("static", filename="img/team.jpg")}}' alt="Team" title="Our Team">
			</div>
			<div class="info col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0">
				<h3>Dakotah Hooker</h3>
				<p class="location">Imperial Beach, USA<br />
				February 5th, 2000</p>
				<hr />
				<div class="story">
					<p>
						I started  surfing when i was 5 and I live in Imperial Beach California. My favorite trick to do is a snap, my favorite spot to surf is San Miguel, Mx and Hunington Beach. I’m usually in Imperial Beach hanging out with friends, skating, surfing or when i have a chance to go the mountains 
						I like to snowboard.
					</p>
				</div>
				<hr />
				<div class="experience">
					<ul>
						<li><em>Baja Championship</em> 2013 / 2nd place</li>
						<li><em>SD Open</em> 2012 / 1st place</li>
						<li><em>TJ Championship</em> 2013 / 1st place</li>
					</ul>
				</div>
				<hr />
				<ul class="visual_evidence">
					<li class="first"><a href="https://www.facebook.com/dakotah.hooker" title="Photos">Photos</a></li><li>
					<a href="https://www.facebook.com/dakotah.hooker" title="Videos">Videos</a></li>
				</ul> 
			</div>
		</div>
		<div class="sb sb_team_bottom"></div>
		<div class="team_border_bottom special_border bottomer"></div>	
		<div id="dealers" class="row">
			<h1>Dealers</H1>
			<ul class="col-xs-10 col-xs-offset-1">
				<div class="row dealer_instance">
					<li class="col-xs-3">
						<hr />
						<p>Daniel Bosch - i3D Print Innovations</p>
					</li>
					<li class=" col-xs-5">
						<hr />
						<p class="directions"><a href="https://www.google.com/maps/place/3517+Del+Rey+St+%23112/@32.8028338,-117.2135682,17z/data=!3m1!4b1!4m2!3m1!1s0x80dc0036be86a5a1:0x60951f7fd006e8ec" target="_blank">3517 Del Rey St Suite 112, San Diego CA 92109</a></p>
					</li>
					<li class="col-xs-4">
						<hr />
						<p class="hidden-xs">cell. (206)856-1392</p>
						<p class="visible-xs"><a href="tel:2068561392" title="Give us a call">cell.(206)856-1392</a>
						</p>
						<p class="hidden-xs">office. (858)220-8196</p>
						<p class="visible-xs"><a href="tel:8582208196" title="Give us a call">office.(858)220-8196</a>
						</p>
					</li>
				</div>
			</ul>
			<div class="col-xs-10 col-xs-offset-1">
				<hr />
				<p>If you want to be a mancave dealer (you wont regret it) send us an email too. 
				</p>
			</div>
		</div>
		<div class="sb sb_contact_top"></div>
		<div class="contact_border_top special_border topper" id="contact_fomr"></div>
		<div id="contact" class="row">
			<h1>Contact us</H1>
			<div id="form_area" class="col-xs-10 col-xs-offset-1 col-sm-6">
				<h2>Drop us a line!</h2>
				<div id="contact_form">
					<input type="text" id="name" name="name" placeholder="First Name"  class="custom_textbox required-input wiped"/>
					<input type="text" id="last_name" name="last_name" placeholder="Last Name"  class="custom_textbox  required-input wiped"/>
					<input type="email" id="email" name="email" placeholder="Email"  class="custom_textbox  required-email wiped"/>
					<textarea name="message" id="message" placeholder="Message"></textarea>
					<div id="form-msg" class="text-danger"></div>
					<input type="submit"  class="custom_submit" id="contact_form_submit" value="Send" />
				</div>
			</div>
			<div id="man-cave-side" class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
				<span id="small_logo"></span>
				<p>Surfboards for huntin' waves</p>
			</div>
		</div>
		<div class="contact_border_bottom special_border bottomer"></div>
		<div class="sb sb_contact_bottom"></div>
		<div class="footnote">
			<p>
				Web by <a href="http://www.eraboy.com" target="_blank">Eraboy</a> and <a href="http://www.mintitmedia.com" target="_blank">Mint IT Media</a>
			</p>
		</div>
	</div>
	
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.10.2.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
	<!-- SURFBOARDS -->
	
	<!-- Add fancyBox -->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/fancybox/js/jquery.fancybox.pack.js')}}"></script>
	
	<!-- Add masonry -->
 	<script type="text/javascript" src="{{url_for('static', filename='js/masonry.pkgd.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/classie.js')}}"></script>

	<script type="text/javascript" src="{{url_for('static', filename='js/functions.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/form_functions.js')}}"></script>
	<script>var loading=$('<img src="{{url_for("static", filename="img/loading.gif")}}" />');</script>
	
</body>
</html>